<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Indies Blog</title>
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/summernote.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/line/36/ghost-512.png">
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/summernote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="/js/global.js"></script>
</head>

<body>
    <div class="flying-icons hidden-sm hidden-xs">
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/invader-1.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-1.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/invader-2.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-2.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/invader-3.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-3.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/invader-4.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-4.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/pacman-1.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-5.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/pacman-1.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-7.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/pacman-2.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-6.png" />
        </div>
        <div class="icon">
            <img class="fly-icon" src="/img/flaying-icons/pacman-2.png" />
            <img class="bubble" src="/img/flaying-icons/bubble-8.png" />
        </div>
    </div>
    {{{body}}}
    
    <script>
        //Flying Icon Hover Start
        $('.fly-icon').hover(function () {
            $(this).next().toggleClass('opacity-06');
        });
    //Flying Icon Hover End
    </script>
</body>

</html>