<table class="table" style="color:#ccc;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each userList}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                </tr>
        {{/each}}
    </tbody>
 </table>